extends layout

block content
    h1= title
    p Welcome to #{title}
    ul.list
    form
        label Amount
        input(name="amount")
        label Tags
        input(name="tags")
        label Description
        input(name="description")
        button.add Add