doctype html
html(lang="en")
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/stylesheets/batch_webfont.css")
        link(rel="stylesheet", href="/stylesheets/global.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        block additional_head
    body
        block content
        script(src="js/lib/jquery-2.2.0.js")
        script(src="js/api.js")
        script(src="js/spending.js")
        script(src="js/detailedTable.js")
        script(src="js/controller.js")