doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="js/lib/jquery-2.2.0.js")
        script(src="js/tryout.js")
    body
        block content
