doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/global.css')
        link(rel='stylesheet', href='/stylesheets/main.css  ')
        script(src="js/lib/jquery-2.2.0.js")
        script(src="js/api.js")
        script(src="js/spending.js")
        script(src="js/detailedTable.js")
        script(src="js/controller.js")

    body
        block content
