extends layout

block content
    div.section
        form#form-new
            input(name="date" placeholder="When")
            input(name="amount" placeholder="How much")
            input(name="tags" placeholder="On what")
            input(name="description" placeholder="More info")
            button Ok
    div.section#data
    div.section
        form#form-filters
            input(name="amount-min" placeholder="0.00")
            input(name="amount-max" placeholder="100.00")
            input(name="tags" placeholder="Tags")
    div.section
        form#form-group
            select
                option None
                option By Tag
                option Daily
                option Weekly
                option Monthly
                option Yearly