@import "vars";

@import "floaters";
@import "no_data_yet";
@import "user_floater";
@import "new_floater";
@import "table";
@import "filter";
@import "date_picker";
@import "multi_select";

#data {
  table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
  }
  th {
    text-align: left;
    padding: 5px 10px;
  }
  td {
    padding: 5px 10px;
  }
  td.amount {
    width: 50px;
  }
  td.tags {
    width: 100%;
  }
  tbody tr:nth-child(odd) {
    background: #eaeaea;
  }
  tbody tr:hover {
    color: #666;
    cursor: pointer;
  }
  button.delete {
    padding: 0;
    //border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    background: inherit;
    //color: #666;
    color: #999;
  }
}

#no-results {
  display: none;
}