#floater-group.floater
    a.trigger-close(href='#')
        span.batch-icon &#xf165;
    h2.title Apply Grouping
    .single-select
        ul.list-available
            li.item.selected.default
                a(href='#') No grouping
            li.item
                a(href='#') Day total
            li.item
                a(href='#') Week total
            li.item
                a(href='#') Month total
            li.item
                a(href='#') Year total
    .button-row-2
        button.button.secondary
            span.batch-icon &#xf165;
            |  Cancel
        button.button.main
            span.batch-icon &#xf164;
            |  Apply
