- var n
#floater-add-new.floater
    a.trigger-close(href='#')
        span.batch-icon &#xf165;
    h2.title Add Spending
    form#form-new
        .form-group.date
            label On
            select(name="date-month")
                each val, i in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    option(value=(i + 1))= val
            select(name="date-day")
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
                option 24
                option 25
                option 26
                option 27
                option 28
                option 29
                option 30
            select(name="date-year")
                option 2000
                option 2001
                option 2002
                option 2003
                option 2004
                option 2005
                option 2006
                option 2007
                option 2008
                option 2009
                option 2010
                option 2011
                option 2012
                option 2013
                option 2014
                option 2015
                option 2016
                option 2017
                option 2018
                option 2019
                option 2020
        .this-other-form-group
            label(for='amount-euros') I spent:
            .amount-wrapper
                input#amount-euros(name='amount-euros', placeholder='0,00 ', type='number', step="0.01")
        .form-group
            label On the following:
            input.tags(placeholder='#lunch #monthly ...' name="tags")
        .form-group
            label(for='description') Here's more information about it:
            textarea#description(name='description' placeholder="Where, with whom...")
        .button-row-2
            button.button.secondary.js-cancel
                span.batch-icon &#xf165;
                |  Cancel
            button.button.main.js-add
                span.batch-icon &#xf01d;
                |  Add
