#floater-user.floater
    a.trigger-close(href='#')
        span.batch-icon &#xf165;
    .avatar
        span.batch-icon &#xf044;
    h2.subtitle= email
    div
        a.button.main(href="/logout")
            span.batch-icon &#xf02b;
            |  Logout
